
@{
    ViewBag.Title = "欢迎页面";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles  {

}

<div class="wrapper wrapper-content">

    <!-- 会话量展示
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>正在咨询的人数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">20</h1>
                    <div class="stat-percent font-bold text-navy"></div>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>正在排队的用户</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">10</h1>
                    <div class="stat-percent font-bold text-danger"></div>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>当前在线客服数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">5</h1>
                    <div class="stat-percent font-bold text-danger"></div>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>接入会话量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">150</h1>
                    <div class="stat-percent font-bold text-danger"></div>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>完成会话量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">50</h1>
                    <div class="stat-percent font-bold text-danger"></div>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>总会话量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">300</h1>
                    <div class="stat-percent font-bold text-danger"></div>
                    <small></small>
                </div>
            </div>
        </div>
    </div>
    -->

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>系统说明</h5>
                </div>
                <div class="ibox-content">
                    <p>
                        【snake】一个采用asp.net mvc5开发，
                        旨在为大家提供一个可用的便捷的后台系统。
                    </p>
                    <div class="alert alert-info">
                        交流群： 257326170
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>今日数据分析</h5>
                </div>
                <div class="ibox-content no-padding">
                    <div class="ibox-content" style="height: 350px" id="main">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts  {
    <script src="~/Content/admin/js/plugins/echarts/echarts-all.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['正在咨询的会员','排队的会员','接入会话量','总会话量']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: { //可视化的工具箱
                show: true,
                feature: {
                    mark : {
                        show: true
                    },
                    dataView: { //数据视图
                        show: true,
                        readOnly: true
                    },
                    restore: { //重置
                        show: true
                    },
                    dataZoom: { //数据缩放视图
                        show: true
                    },
                    saveAsImage: {//保存图片
                        show: true
                    },
                    magicType: {//动态类型切换
                        show:true,
                        title : {
                            line : '折线图',
                            bar : '柱形图'
                        },
                        type: ['bar', 'line']
                    }
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00',
                    '18:00','19:00','20:00','21:00','22:00']
            },
            yAxis: {
                type: 'value'
            },
            series:[]
        };
        $(function () {
            $.getJSON("@Url.Action("GetToday")", function (res) {
                //console.log(res);
                var data = res.data;
                option.series = [
                    {
                        name: '正在咨询的会员',
                        type: 'line',
                        stack: '总量',
                        data: data.is_talking
                    },
                    {
                        name: '排队的会员',
                        type: 'line',
                        stack: '总量',
                        data: data.in_queue
                    },
                    {
                        name: '接入会话量',
                        type: 'line',
                        stack: '总量',
                        data: data.success_in
                    },
                    {
                        name: '总会话量',
                        type: 'line',
                        stack: '总量',
                        data: data.total_in
                    }
                ];
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            });
        });
    </script>
}