
@{
    ViewBag.Title = "Index";
    ViewBag.GlobalStyle = "animated fadeInRight";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/admin/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
}

<!-- Panel Other -->
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>管理员列表</h5>
    </div>
    <div class="ibox-content">
        <div class="form-group clearfix col-sm-1">
            @*{if authCheck('user/useradd') }*@
            <a href="@Url.Action("UserAdd","User",new { area = "Admin"})">
                <button class="btn btn-outline btn-primary" type="button">添加管理员</button>
            </a>
            @*{/if}*@
        </div>
        <!--搜索框开始-->
        <form id='commentForm' role="form" method="post" class="form-inline pull-right">
            <div class="content clearfix m-b">
                <div class="form-group">
                    <label>管理员名称：</label>
                    <input type="text" class="form-control" id="username" name="user_name">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="button" style="margin-top:5px" id="search">
                        <strong>搜 索</strong>
                    </button>
                </div>
            </div>
        </form>
        <!--搜索框结束-->
        <div class="example-wrap">
            <div class="example">
                <table id="cusTable">
                    <thead>
                        <tr>
                            <th data-field="id">管理员ID</th>
                            <th data-field="user_name">管理员名称</th>
                            <th data-field="role_name">管理员角色</th>
                            <th data-field="login_times">登录次数</th>
                            <th data-field="last_login_ip">上次登录ip</th>
                            <th data-field="last_login_time">上次登录时间</th>
                            <th data-field="real_name">真实姓名</th>
                            <th data-field="status">状态</th>
                            <th data-field="operate">操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- End Example Pagination -->
    </div>
</div>
<!-- End Panel Other -->

@section scripts {
    <script src="~/Content/admin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Content/admin/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="~/Content/admin/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Content/admin/js/plugins/suggest/bootstrap-suggest.min.js"></script>
    <script src="~/Content/admin/js/plugins/layer/laydate/laydate.js"></script>
    <script src="~/Content/admin/js/plugins/layer/layer.min.js"></script>
    <script type="text/javascript">
    function initTable() {
        //先销毁表格
        $('#cusTable').bootstrapTable('destroy');
        //初始化表格,动态从服务器加载数据
        $("#cusTable").bootstrapTable({
            method: "get",  //使用get请求到服务器获取数据
            url: "@Url.Action("GetData")", //获取数据的地址
            striped: true,  //表格显示条纹
            pagination: true, //启动分页
            pageSize: 10,  //每页显示的记录数
            pageNumber:1, //当前第几页
            pageList: [5, 10, 15, 20, 25],  //记录数可选列表
            sidePagination: "server", //表示服务端请求
            paginationFirstText: "首页",
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationLastText: "尾页",
            queryParamsType : "undefined",
            //解析数据
//            responseHandler: function(res) {
//                CHART = res.data;
//                return {
//                    "total": res.data.total,
//                    "rows": res.data
//                };
//            },
            queryParams: function queryParams(params) {   //设置查询参数
                var param = {
                    pageIndex: params.pageNumber,
                    pageSize: params.pageSize,
                    searchText:$('#username').val()
                };
                return param;
            },
            onLoadSuccess: function(res){  //加载成功时执行
                if(1 == res.status){
                    window.location.reload();
                }
                //layer.msg("加载成功", {time : 1000});
            },
            onLoadError: function(){  //加载失败时执行
                layer.msg("加载数据失败");
            },
            columns: [
                {
                    field: "id"
                }, {
                    field: "user_name"
                }, {
                    field: "role_name"
                }, {
                    field: "login_times"
                }, {
                    field: "last_login_ip"
                }, {
                    field: "last_login_time"
                }, {
                    field: "real_name"
                }, {
                    field: "status",
                    formatter: function (value, row, index) {
                        if(value == 1) return "正常";
                        return "禁用";
                    }
                }, {
                    field: "operate",
                    formatter: function (value, row, index) {
                        if(row.id == 1)
                            return "-";
                        return '<a href="@(Url.Action("UserEdit","User"))/'+ row.id +'"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-paste"></i> 编辑</button></a> '+
                            ' <a href="javascript:userDel('+ row.id +')"><button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> 删除</button></a>';
                    }
                }]
        });
    }

    $(document).ready(function () {
        //调用函数，初始化表格
        initTable();

        //当点击查询按钮的时候执行
        $("#search").bind("click", initTable);
    });

    function userDel(id){
        var index = layer.confirm('确认删除此管理员?', {icon: 3, title:'提示'}, function(){
            //do something
            $.post("@Url.Action("UserDel","User")", {'id' : id}, function(res){
                layer.close(index);
                if(1 == res.status){
                    layer.alert("数据删除成功！", { title: '友情提示', icon: 1, closeBtn: 0 }, function (self){
                        layer.close(self);
                        initTable();
                    });
                }else if(0 == res.status){
                    layer.alert(res.msg, { title: '友情提示', icon: 2 });
                }else{
                    window.location.reload();
                }
            });
        });
    }
    </script>
}