
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section styles  {

}

<div class="wrapper wrapper-content animated fadeInRight">
    <h1>Index</h1>
</div>

@section scripts  {

}

