
@{
    ViewBag.Title = "Common";
    ViewBag.GlobalStyle = "animated fadeInRight";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section styles  {
   
}

<h1>Common</h1>

@section scripts  {

}

